span.left	 {
	height: 23px;
	width: 6px;
	background: url(../image/btnLinit.gif) no-repeat;
	border: 0px;
	cursor: default;
}

span.right {
	height: 23px;
	width: 6px;
	background: url(../image/btnRinit.gif) no-repeat;
	border: 0px;
	cursor: default;
}

span.center {
	height: 23px;
	border: 0px;
	cursor: default;
	text-align: center;
	font-family: ו;
	font-size: 9pt;
	font-weight: normal;
	color: #0B333C;
	padding: 5px 10px 0px 10px;
	white-space: nowrap;
}

.btn-element-height,span.btn-normal-left,span.btn-normal-right,span.btn-over-left,span.btn-over-right,span.btn-click-left,span.btn-click-right,span.btn-normal-center,span.btn-over-center,span.btn-click-center
	{
	height: 23px !important;
}

span.btn-normal-left,span.btn-normal-right,span.btn-over-left,span.btn-over-right,span.btn-click-left,span.btn-click-right
	{
	width: 6px !important;
}

span.btn-normal-left {
	background-image: url(../image/btnLinit.gif) !important;
}

span.btn-normal-right {
	background-image: url(../image/btnRinit.gif) !important;
}

span.btn-over-left {
	background-image: url(../image/btnLover.gif) !important;
}

span.btn-over-right {
	background-image: url(../image/btnRover.gif) !important;
}

span.btn-click-left {
	background-image: url(../image/btnLclick.gif) !important;
}

span.btn-click-right {
	background-image: url(../image/btnRclick.gif) !important;
}

span.btn-normal-center,span.btn-over-center,span.btn-click-center {
	cursor: default !important;
	color: #0B333C !important;
}

span.btn-normal-center {
	background-image: url(../image/btnCinit.gif) !important;
}

span.btn-over-center {
	background-image: url(../image/btnCover.gif) !important;
}

span.btn-click-center {
	background-image: url(../image/btnCclick.gif) !important;
}