body {
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: ו;
	background-color: white;
	SCROLLBAR-3DLIGHT-COLOR = '#ABACA9';
	SCROLLBAR-HIGHLIGHT-COLOR = '#FFFFFF';
	SCROLLBAR-FACE-COLOR =  '#E6E4DF';
	SCROLLBAR-SHADOW-COLOR = '#FFFFFF';
	SCROLLBAR-DARKSHADOW-COLOR = '#ABACA9';
	SCROLLBAR-TRACK-COLOR = '#F1F1F6';
}

div	{
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

span {
	font-family: ו;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

p {
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

a	{
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000000;
}

td {
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
}

th {
	font-size: 10pt;
	font-weight: 600;
	font-style: normal;
}

textarea  {
	overflow: auto;
	border: 1px solid #ABACA9;
}

fieldset
{
	border:1px solid #ABACA9;
}

.btn1 {
	background-image: url(../images/btn.gif);
	border-width: 0;
	background-color: Transparent;
	width: 50px;
	font-size: 12px;
	vertical-align: text-bottom;
	height: 23px;
}

.form_title {
	font-size: 10pt;
	font-weight: bold;
	color:  #000000;
	font-family: Arial, Helvetica, sans-serif;;
	margin-top: 3px;
	white-space:nowrap;
	height:28;
	padding-top:7;
}

.form_cell {
	color: #000000;
	white-space:nowrap;
	padding-right:10px;
}

.input {
	border: 1px solid #ABACA9;
}

div.btnArea
{
	margin-top:10px;
	text-align:right;
}

.borderTableCss {
border:1px solid #D0D0D0;
border-collapse:collapse;
border-spacing:0px;
}
.borderTableCss th {
font-size:12px;
font-weight:normal;
padding:2px;
border:1px solid #D0D0D0;
border-collapse:collapse;
background-color:#F5F5F5;
text-align:right;
}
.borderTableCss td {
font-size:12px;
font-weight:normal;
padding:2px;
border:1px solid #D0D0D0;
border-collapse:collapse;
}
