BODY {
	COLOR: #3e3c20; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt; SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #282828; SCROLLBAR-ARROW-COLOR: #282828; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #282828
}
TABLE.tabletoolbar {
	BORDER-RIGHT: #253e82 0px double; BORDER-TOP: #253e82 0px double; MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: #253e82 0px double; BORDER-BOTTOM: #253e82 1px double; BORDER-COLLAPSE: collapse
}

TD.InputLabelCell {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; FONT-FAMILY: 'ו'; TEXT-ALIGN: right
}

HR.row {
	BORDER-TOP: 1px; COLOR: #eeeeee
}

TABLE.tableframe {
	BORDER-RIGHT: #7c9ccf 1px solid; BORDER-TOP: #7c9ccf 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #7c9ccf 1px solid; BORDER-BOTTOM: #7c9ccf 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
TR.Listtitle {
	BORDER-TOP: #7c9ccf 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #99ccff; COLOR: #ffffff; BORDER-BOTTOM: #7c9ccf 1px solid; FONT-FAMILY: ו; HEIGHT: 18px; TEXT-ALIGN: center
}

TD.ListCellRow {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid
}
TD {
	COLOR: #243931; FONT-SIZE: 9pt; LINE-HEIGHT: 13pt
}