.button2 
{ 
	border-right:1px solid buttonhighlight; 
	border-left:1px solid buttonshadow; 
	border-bottom:1px solid buttonhighlight; 
	border-top:1px solid buttonshadow 
} 

.oper 
{ 
    cursor:default;
    font-size: 9pt; 
    font-family: ו; 
    text-align: center; 
    text-valign: middle 
} 

.handin 
{ 
	height:18px; 
	width:2px; 
	border-left:1px solid buttonshadow; 
	border-right:1px solid buttonhighlight 
} 

.handout 
{ 
	height:18px; 
	width:2px; 
	border-left:1px solid buttonhighlight; 
	border-right:1px solid buttonshadow; 
} 
.into 
{ 
	margin:0;
	width:100%; 
	border-right:1px solid buttonhighlight; 
	border-left:1px solid buttonshadow; 
	border-bottom:1px solid buttonhighlight; 
	border-top:1px solid buttonshadow 
} 

.outto,.button1 
{ 
	background-color: #F8F8F8; 
	background-repeat: repeat; 
	background-attachment: scroll; 
	border-left: 1px solid buttonhighlight; 
	border-right: 1px solid buttonshadow; 
	border-top: 1px solid buttonhighlight; 
	border-bottom: 1px solid buttonshadow; 
	background-position: 0% 
} 

.button0 
{ 

} 