@charset "gb2312";
/* CSS Document */

body { margin:0 auto; font-size:12px; font-family:Verdana; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a { color:#444; text-decoration:none;}
a:hover { color:#cb6d0a; cursor:pointer;}

.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;} 

/*body*/
#container { width:900px; margin:0 auto;}

/*header;*/
#header { height:90px; background:url(../image/indexITSMGS/title_gs_itsm.jpg) 0 0 no-repeat;}
#search { float:right; height:60px; margin-top:0px; color:#444;}
.inp_srh { width:140px; height:17px; padding-left:20px; background:url(../image/indexITSMGS/srh_bg.gif) 0 0 no-repeat; border:1px solid #cbcbcb; color:#6e6e6e}
.btn_srh { width:58px; height:23px; background:url(../image/indexITSMGS/btn_srh.gif) 0 0 no-repeat; border:none; cursor:pointer; text-indent:-999em;}
#search * { vertical-align:middle;}

.top_link { height:30px; padding-right:10px;}
.top_link ul { float:right; width:800px; white-space:nowrap;}
.top_link ul li { float:right; height:30px; display:inline;}
.top_link ul li a { display:inline; width:100%; height:22px; line-height:22px; text-align:center; color:#fff; padding-left:5px; padding-right:10px;}
.top_link ul li a:hover { color:#fff;font-weight:bold; }
.top_link ul li span { border-left:1px dotted #fff; padding-left:10px;}

.nav_menu { height:40px; width:100%; overflow:hidden;display:none;}
.nav_menu ul li { float:left; margin-top:16px;}
.nav_menu ul li a { display:inline; width:100%; height:22px; line-height:22px; text-align:center; color:#fff; padding-left:5px; padding-right:10px;}
.nav_menu ul li a:hover { color:#fff;font-weight:bold; }
.nav_menu ul li span { border-left:1px dotted #fff; padding-left:10px;}
.dbquery { color:#2828FF;height:20px;border:0px 10px 0 2px;padding-top:0px;};
.workLink  { float:left; padding-left:5px; color:#2828FF; text-decoration:underline;}
.flowlinks { line-height:2.3;width:150px;padding-left:20px; border-bottom:1px dashed #dcdcdc; color:#777; background:url(../image/indexImage/style1/about_link.jpg) 0 6px no-repeat;}
li {
 list-style-type: none;
}

/*main*/
#maincontent { overflow:auto; zoom:1; margin-top:10px; margin-bottom:10px;}
#side { float:left; width:220px;}
.side_box { margin-bottom:8px; }
.side_box h2 { height:25px; padding:3px 10px 0 10px; background:url(../image/indexITSMGS/side_bg_1.gif) 0 0 no-repeat; font-size:13px; color:#444;}
.side_box h2 span { display:block; height:25px; padding-left:2px;}
.side_con { padding:0 10px; background:url(../image/indexITSMGS/side_bg_1.gif) 0 bottom no-repeat;}
.boardInfo { padding:3px 15px 6px 15px;}
.boardInfo_con { height:200px;}
.boardInfo_bottom { height:18px;}
.boardInfo_bottom a{float:right;color:#317aaf;font-size:13px;cursor:hand;text-decoration:none;}
.boardInfo_bottom a:hover{  color:#FF0000;font-size:13px;cursor:hand;text-decoration:underline;}
.boardInfo_bottom a:active{ color:#317aaf;font-size:13px;cursor:hand;text-decoration:none;}
.businessView { padding:3px 15px 45px 15px;}
.businessView ul { background:url(../image/indexITSMGS/icon2.gif) 5px 12px no-repeat;}
.businessView ul li { line-height:2.3; padding-left:5px; border-bottom:1px dashed #dcdcdc; color:#777;}
.commonFile { padding:3px 15px 45px 15px;}
.commonFile ul { }
.commonFile ul li { line-height:2.3; padding-left:23px; border-bottom:1px dashed #dcdcdc; color:#777; background:url(../image/excel.gif) 0 5px no-repeat;}


.foldMenuTitle{border-bottom:1px solid #fff;float:left border:2px solid #95989a;width:175px; height:45px; padding:1px;background:#72aac5;}
.foldMenuTitle h2 {color:#fff; padding-left:15px; font-size:19px; font-weight:400; margin-top:10px;}
.foldMenu{width:175px;padding:1px;background:#72aac5;height:100%;}
.foldMenu h2{margin:0px;padding:0px;font-size:14px;line-height:25px;color:#fff;}
.foldMenu h2 span{display:block;background:url(../image/indexITSMGS/foldMenuR.gif) 0 1px no-repeat; padding-left:20px; margin-left:30px;}

.activeMenu{width:100%;height:25px;background:#5097b9;cursor:pointer; color:#fff;font-weight:bold;}
.inactiveMenu{width:100%;height:25px;background:#72aac5;cursor:pointer;color:#fff;font-weight:bold;}
.content{background:#fff;border-bottom:1px solid #fff;overflow:hidden;color:#666;padding-left:4px;padding-right:4px;line-height:18px;}
.content a:link,.content a:visited{color:#666666;text-decoration:none;}
.content a:hover{color:#FF6600;text-decoration:underline;}
.content ul { margin-top:10px; margin-bottom:10px;}
.content ul li { padding-left:25px; line-height:1.8;}

#main { float:left; width:578px;}
#index_top { margin-bottom:8px;}
.pending_box { width:580px; float:left; border:1px solid #dbdbdb; margin-bottom:10px;}
.pending_box h2 { height:30px; padding:5px 10px 0 10px; font-size:13px; background:url(../image/indexITSMGS/box_tit_bg.gif) 0 -1px; color:#b0b4bb; overflow:hidden;}
.pending_box_con { height:270px; padding:5px 15px 5px 15px; background:#f4f5f5;}
.pending_box_con_left { float:left; width:120px; height:280px; }
.pending_box_con_right { float:right; width:710px; height:280px; }
.pending_box_con_right ul { margin-top:5px; margin-bottom:8px;}
.pending_box_con_right ul li { line-height:1.9; padding-left:10px; background:url(../image/indexImage/index1_33.gif) 0 7px no-repeat;}
.pending_box_con_right ul li a { color:#000; }
.pending_box_con_right ul li a:hover { color:#cb6d0a;}
.pending_btn { float:left; padding-left:25px; font-size:13px; color:#b0b4bb;}
.pending_btn_active {float:left; padding-left:20px; font-size:13px; color:#444;}
.more { float:right; padding-left:13px; font-size:12px; font-weight:normal; color:#317aaf;}
.more:hover { color:#cb6d0a; background:url(../image/indexITSMGS/icon.gif) 0 -96px no-repeat;}
.moreDate {padding-left:10px; padding-right:10px; cursor:pointer;}
.moreDate:hover {color:#a71414; background:url(../image/indexITSMGS/arrow-red.gif) -20px -4px no-repeat;}
.moreDateActive {color:#a71414; background:url(../image/indexITSMGS/arrow-red.gif) -20px -4px no-repeat; padding-left:10px; padding-right:10px; cursor:pointer;}
.moreDateActive:hover {color:#a71414; background:url(../image/indexITSMGS/arrow-red.gif) -20px -4px no-repeat;}

#index_slogan { margin-bottom:8px;}
.slogan_box {width:667px; height:62px; float:right; margin-bottom:10px; background:url(../image/indexITSMGS/slogan.jpg) 0 0 no-repeat;}

#index_middle { margin-bottom:8px;}
.monitoring_box { width:666px; float:right; border:1px solid #dbdbdb; margin-bottom:10px;}
.monitoring_box h2 { height:23px; padding:5px 10px 0 10px; font-size:13px; background:url(../image/indexITSMGS/monitor_tit_bg.gif) 0 0; border-bottom:1px solid #dbdbdb; color:#444; overflow:hidden;}
.monitoring_box_con {height:200px; padding:10px 15px 10px 15px; background:#fbfbfb;}
.monitoring_box_con_left {float:left; width:317px; height:200px; background:url(../image/indexITSMGS/monitor_analy.jpg) 0 0 no-repeat;}
.monitoring_box_con_left h1 { float:right; font-size:13px; padding-right:15px; padding-top:3px;}
.monitoring_box_con_left ul { padding-top:25px; padding-left:40px;}
.monitoring_box_con_left ul li { line-height:2.3; padding-left:5px; color:#777;}
.monitoring_box_con_right {float:right; width:317px; height:200px; background:url(../image/indexITSMGS/monitor_coo.jpg) 18px 0 no-repeat; border-left:1px solid #dbdbdb;}
.monitoring_box_con_right h1 { float:right; font-size:13px; padding-top:3px;}
.monitoring_box_con_right ul { padding-top:25px; padding-left:40px;}
.monitoring_box_con_right ul li { line-height:2.3; padding-left:5px; color:#777;}
.monitoring_coo_con ul { padding-top:30px; padding-left:65px;}
.monitoring_coo_con ul li { line-height:2.3; padding-left:5px; color:#777;}
.monitoring_coo { float:right; padding-right:220px;}
.monitoring_analy { float:left; padding-left:8px;}

#index_bottom { margin-bottom:8px;}
.it_news_box {width:667px; height:302px; float:right; margin-bottom:10px; background:url(../image/indexITSMGS/news_box_bg.jpg) 0 0 no-repeat;}
.it_news_box h2 { height:25px; padding:3px 10px 0 15px;  font-size:13px; color:#444; padding-top:5px;}
.it_news_box h2 span { display:block; height:25px; padding-left:2px;}

.it_news_box_con { padding:10px 20px 10px 20px; height:186px ;overflow: hidden;}
.it_news_box_con ul { }
.it_news_box_con ul li { line-height:2.3; height:30px; padding-left:18px; border-bottom:1px dashed #dcdcdc; color:#777; background:url(../image/indexImage/style1/index_lable_pending.jpg) 0 10px no-repeat;}
.it_news_box_con_left { float:left; width:430px; height:18px; }
.it_news_box_con_right { float:right; padding-right:10px; text-align:right width:100px; height:18px; }

.index_box { width:327px; float:left; border:1px solid #dbdbdb; margin-bottom:10px;}
.index_box_right { float:right;}
.index_box h2 { height:23px; padding:5px 10px 0 10px; font-size:12px; background:url(../image/indexITSMGS/box_tit_bg.gif) 0 -1px; border-bottom:1px solid #dbdbdb; color:#444; overflow:hidden;}
.index_box h2 span { display:block; height:25px; background:url(../image/indexITSMGS/icon.gif) 0 -3px no-repeat; padding-left:16px;}
.index_box_con { height:196px; padding:0px 20px 0 20px; overflow:hidden;}
.index_box_con ul { margin-top:8px;}
.index_box_con ul li { background:url(../image/indexITSMGS/icon.gif) 0 -298px no-repeat; padding-left:25px; line-height:2.3; border-bottom:1px dotted #a2a3a3;}

.it_news_bottom { height:18px;margin-top: 20px;}
.it_news_bottom a{float:right;color:#317aaf;font-size:13px;cursor:hand;text-decoration:none;}
.it_news_bottom a:hover{  color:#FF0000;font-size:13px;cursor:hand;text-decoration:underline;}
.it_news_bottom a:active{ color:#317aaf;font-size:13px;cursor:hand;text-decoration:none;}

.title_right{float:right; padding-left:13px;width:14;height:14px;padding:1px;cursor:hand;}


/*footer*/
#footer { text-align:right; background:url(../image/indexITSMGS/footer.jpg) -50px 0 no-repeat;}
#footer dl dt { height:18px; line-height:18px; background:#afafaf; color:#fff;}
#footer dl dd { padding:8px 0; color:#fff; line-height:2; padding-right:160px;}

.ni_topMenu{ width:100%; height:30px; margin:0 auto; background-image:url(../image/indexITSM/ni_menu_bg.gif); background-position:top; background-repeat:repeat-x;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.niMenu{float:left;width:auto; height:26px; margin-top:3px;}
.menusel{ float:left;width:85px; position:relative; height:25px; line-height: 25px; margin-left: 1px; *margin-left: 0px;_margin-left: -1px;}
.menusel h2{white-space:nowrap; border-left:1px solid #61B2DF;}
.menusel a{width:auto;display:block;color:#FFFFFF; font-size:14px;font-weight:normal;text-align:center;white-space:nowrap;text-decoration:none;padding:0 18px 0 10px; height:22px; position:relative; z-index:2;}
.menusel a:hover{width:auto;display:block;color:#FF0000; font-size:14px;font-weight:normal;text-align:center;white-space:nowrap;text-decoration:none;padding:0 18px 0 10px; height:22px; position:relative; z-index:2;background:#61B2DF;}
.menusel a:active{width:auto;display:block;color:#FFFFFF; font-size:14px;font-weight:normal;text-align:center;white-space:nowrap;text-decoration:none;padding:0 18px 0 10px; height:22px; position:relative; z-index:2;}
.position{ position:absolute;left:0px; z-index:1;}
.position a{width:150px;display:block;color:#000000;font-size:13px;font-weight:normal;text-align:left;white-space:normal;word-wrap:break-word;word-break:break-all;text-decoration:none; height:auto; line-height:16px; padding:5px 3px 4px 8px; position:relative; z-index:2;}
.position a:hover{width:150px;display:block;color:#FF0000;font-size:13px;font-weight:normal;text-align:left;white-space:normal;word-wrap:break-word;word-break:break-all; text-decoration:none; height:auto; line-height:16px; padding:5px 3px 4px 8px; position:relative; z-index:2;}
.position a:active{width:150px;display:block;color:#000000;font-size:13px;font-weight:normal;text-align:left;white-space:normal;word-wrap:break-word;word-break:break-all; text-decoration:none; height:auto; line-height:16px; padding:5px 3px 4px 8px; position:relative; z-index:2;}
.position a.hasDomRight{background-image:url(../image/indexITSM/ni_menuRight.gif);background-position:right;background-repeat:no-repeat;width:150px;display:block;color:#000000;font-size:13px;font-weight:normal;white-space:normal;word-wrap:break-word;word-break:break-all; padding:5px 3px 4px 8px; height:auto; line-height:16px; position:relative; z-index:2;}
.position a.hasDomRight:hover{background-image:url(../image/indexITSM/ni_menuRight.gif);background-position:right;background-repeat:no-repeat;width:150px;display:block;color:#FF0000;font-size:13px; position:relative; z-index:2; height:auto; line-height:16px; padding:5px 3px 4px 8px;}
.menusel ul{width:160px; background:#EEEEFF; border:1px solid #5CA9DD; margin-top: -1px; position:relative; z-index:1; display:none;}
.menusel .block{ display:block;}
.typeul li{border-top:1px dashed #A0C7E2;width:150px; position:relative; float:left; }
.typeul li a{ border:none;width:150px; }
.typeul li a:hover{ border:none; width:150px; background:#5CACDF;}
.typeul{  margin-left:0;  }
.typeul ul{left:160px; top:0; position:absolute;margin:0;padding:0;}
.fli{ margin-left: -1px; border-left:#eeeeee solid 1px;}
.menusel .noBorderLi{border:none; }
.hasDomMenu{color:#FFFFFF;background-image:url(../image/indexITSM/ni_menuDom.gif);background-position:right;background-repeat:no-repeat;}

body {
	margin:0px 0px 2px 0px;
	font-size:9pt;
	color:#000000;
	font-family: "新宋体";
	line-height:150%;
	SCROLLBAR-3DLIGHT-COLOR = '#ABACA9';
	SCROLLBAR-HIGHLIGHT-COLOR = '#FFFFFF';
	SCROLLBAR-FACE-COLOR =  '#E6E4DF';
	SCROLLBAR-SHADOW-COLOR = '#FFFFFF';
	SCROLLBAR-DARKSHADOW-COLOR = '#ABACA9';
	SCROLLBAR-TRACK-COLOR = '#F1F1F6';
}

span
{
   font-size:9pt
}
td
{
   font-size:10pt
}


.font_baise{
    color:#FFFFFF;
	padding-left: 10px;
    font-size:9pt;
}
.font_red{
	color:#FF0000;
	text-decoration: underline;	
	font-size:9pt;
}

.font_hongse{
	color:#990000;
	text-decoration: underline;	
	font-size:9pt;
}
.font_huihei{
    color:#666666;
    font-size:9pt;
}

.bk_danlan {
	border: 1px solid #B0D9F1;
	font-size:9pt;
}
.jianju_10{
    padding-left: 15px;
	padding-right: 10px;
	font-size:9pt;
}
.jianju_11{
    padding-left: 5px;
	padding-right: 5px;
	font-size:9pt;
}
.jianju_5{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
	
}
.jianju_left_right_top25 {
	margin: auto;
	padding-right: 25px;
	padding-left: 0px;
	padding-top: 5px;
	font-size:9pt;
}
.menuOver
{
    color:red;
	font-weight: bold;
	text-decoration:underline;
	font-size:9pt;
}
.menu
{
    background:url('/resource/image/indexImage/style1/bg_daohang_mid.jpg') repeat-x;
    height:35px;
    white-space:nowrap;
    font-size:9pt;
    padding:15 5,0,5;
    font-family:宋体
}

.SelMenu
{
    background:url('/resource/image/indexImage/style1/bg_daohang2_mid.jpg') repeat-x;
    height:35px;
    white-space:nowrap;
    font-size:9pt;
    padding:15 5,0,5;
    font-family:宋体
}