*{ margin:0; padding:0;}
img,iframe{border:0px;}
li{list-style:none;}

body{
	font:12px verdana,geneva,arial,helvetica,sans-serif,ו;
}

.wrapper{ width:900px;margin:0 auto;}

.banner{
	height:75px;
	background-image:url(/resource/image/indexImage/banner_EDA.png);
	background-position: 0px 0px;
	background-repeat:no-repeat;
	overflow: hidden;
	white-space: noWrap;
	width:100%;
}

.logo{
	float:left;
	width:435px;
	padding:20px;
}

.logoInner{
	width:435px;
	height:33px;
	background-image:url(/resource/image/indexImage/logo_EDA.png);
	background-position: 0x 0px;
	background-repeat:no-repeat;
}

.topLinkSide{
	text-align:right;
	float:right;
}

.topLink{
	padding:15px 30px 0 0;
	font-size:13px;
	font-family:"Microsoft YaHei";
}

.loginInfo{
	font-size:13px;
	font-family:"Microsoft YaHei";
	color:#20679e;
	height:30px;
	line-height:30px;
	text-align:right;
	padding:0 30px 0 0;
	cursor:hand;
}

.menuBar{
	height:38px;
	z-index:9999;
	line-height:180%;
	background:url(/resource/image/indexImage/menu_bg_EDA.png) repeat-x;
    overflow: hidden;
	white-space: noWrap;
	padding-left:10px;
}

.menuBar label{
	float:left;
	line-height:180%;
}

.menuBar a{
	padding:0px 3px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#FFFFFF;
	display:inline-block;
	height:38px;
	line-height:38px;
	cursor:hand;
}

.menuBar a:hover{
	color:#124873;
	background:url(/resource/image/indexImage/menu_bg_sel_EDA.png) repeat-x;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 2px;}
.b2,.b7{margin:0 1px;border-right:1px solid; border-left:1px solid;}
.b3,.b6{border-right:1px solid; border-left:1px solid;}
.b4,.b5{border-right:1px solid; border-left:1px solid; height:1px;}
.content {border-right:1px solid;border-left:1px solid;overflow:hidden;}

.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .content{border-color:#65a4d4;}
.color1 .b1,.color1 .b8{background:#65a4d4;}
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .content{background:#f5f9fd;}

.color2 .b2,.color2 .b3,.color2 .b4,.color2 .b5,.color2 .b6,.color2 .b7,.color2 .content{border-color:#f7bd5e;}
.color2 .b1,.color2 .b8{background:#f7bd5e;}
.color2 .b2,.color2 .b3,.color2 .b4,.color2 .b5,.color2 .b6,.color2 .b7,.color2 .content{background:#faf7db;}

.color3 .b2,.color3 .b3,.color3 .b4,.color3 .b5,.color3 .b6,.color3 .b7,.color3 .content{border-color:#65a4d4;}
.color3 .b1,.color3 .b8{background:#65a4d4;}
.color3 .b2,.color3 .b3,.color3 .b4,.color3 .content{background:#bfd5ec;}
.color3 .b5,.color3 .b6,.color3 .b7{background:#f5f9fd;}

a:link{
	text-decoration:none;
}

a:visited{
   text-decoration:none;
}


/*main*/
#maincontent {padding:5px 0;}
#side { float:right; width:220px;}
.side_box { margin-bottom:8px; }
.side_box h2 { height:25px; padding:0 10px; background:url(../image/indexZJ/side_bg_1.gif) 0 0 no-repeat; font-size:13px; color:#444;}
.side_box h2 span { display:block; height:25px;line-height:25px; padding-left:2px;font-family:"Microsoft YaHei";}
.side_box h2 a { display:block; height:25px;line-height:25px;font-family:"Microsoft YaHei";}
.side_con { padding:0 10px; background:url(../image/indexZJ/side_bg_1.gif) 0 bottom no-repeat;}
.boardInfo { padding:3px 15px 6px 15px;}
.boardInfo_con { height:150px;}
.boardInfo_bottom { height:18px;}
.boardInfo_bottom a { float:right; font-size:12px; font-weight:normal; color:#317aaf;}
.businessView { padding:3px 15px 45px 15px;}
.businessView ul { background:url(../image/indexZJ/icon2.gif) 5px 12px no-repeat;}
.businessView ul li { line-height:2.3; padding-left:5px; border-bottom:1px dashed #dcdcdc; color:#777;}
.commonFile { padding:3px 15px 45px 15px;}
.commonFile ul { }
.commonFile ul li { line-height:2.3; padding-left:23px; border-bottom:1px dashed #dcdcdc; color:#777; background:url(../image/excel.gif) 0 5px no-repeat;}
.links { padding:3px 15px 45px 15px;}
.links ul { }
.links ul li { line-height:2.3; padding-left:20px; border-bottom:1px dashed #dcdcdc; color:#777; background:url(../image/indexImage/style1/about_link.jpg) 0 6px no-repeat;}


.foldMenuTitle{border-bottom:1px solid #fff;float:left border:2px solid #95989a;width:175px; height:45px; padding:1px;background:#72aac5;}
.foldMenuTitle h2 {color:#fff; padding-left:15px; font-size:19px; font-weight:400; margin-top:10px;}
.foldMenu{width:175px;padding:1px;background:#72aac5;height:100%;}
.foldMenu h2{margin:0px;padding:0px;font-size:14px;line-height:25px;color:#fff;}
.foldMenu h2 span{display:block;background:url(../image/indexZJ/foldMenuR.gif) 0 1px no-repeat; padding-left:20px; margin-left:30px;}

.activeMenu{width:100%;height:25px;background:#5097b9;cursor:pointer; color:#fff;font-weight:bold;}
.inactiveMenu{width:100%;height:25px;background:#72aac5;cursor:pointer;color:#fff;font-weight:bold;}
.content{background:#fff;border-bottom:1px solid #fff;overflow:hidden;color:#666;padding-left:4px;padding-right:4px;line-height:18px;}
.content a:link,.content a:visited{color:#666666;text-decoration:none;}
.content a:hover{color:#FF6600;text-decoration:underline;}
.content ul { margin-top:10px; margin-bottom:10px;}
.content ul li { padding-left:25px; line-height:1.8;}

#main { float:left; width:668px;}
#index_top { margin-bottom:8px;}
.pending_box { width:666px; border:1px solid #dbdbdb;background:#f4f5f5;}
.pending_box h2 { height:25px;line-height:25px; padding:0 10px; font-size:13px; background:url(../image/indexZJ/box_tit_bg.gif) 0 -1px; color:#b0b4bb; overflow:hidden;}
.pending_box_con { height:280px; padding:10px 15px 10px 15px; background:#f4f5f5;}
.pending_box_con_left { float:left; width:120px; height:280px; background:url(../image/indexZJ/pending_left.jpg) 10px 10px no-repeat;}
.pending_box_con_right {width:510px; height:280px; }
.pending_box_con_right ul { margin-top:5px; margin-bottom:8px;}
.pending_box_con_right ul li { line-height:1.9; padding-left:10px; background:url(../image/indexImage/index1_33.gif) 0 7px no-repeat;}
.pending_box_con_right ul li a { color:#000; }
.pending_box_con_right ul li a:hover { color:#cb6d0a;}
.pending_btn { float:left; padding-left:25px; font-size:13px; color:#b0b4bb;font-family:"Microsoft YaHei";}
.pending_btn_active {float:left; padding-left:20px; font-size:13px; color:#444;font-family:"Microsoft YaHei";}
.pending_box_con_right { float:left; width:635px; height:280px; }
.pending_box_con_right ul li { line-height:1.8; height:22px; padding-left:10px; background:url(resource/image/indexImage/index1_33.gif) 0 7px no-repeat;}
.pending_box_con_right_title_no_date { float:left; width:625px; height:22px; overflow:hidden;text-overflow:ellipsis;}
.pending_box_con_right_title { float:left; width:450px; height:22px; overflow:hidden;text-overflow:ellipsis;}
.pending_box_con_right_date { float:right; text-align:right; height:22px;}
.pending_btn { float:left; padding-left:20px; font-size:14px; color:#b0b4bb;}
.pending_btn_active {float:left; padding-left:20px; font-size:14px; color:#444;}

.more { float:right; padding-left:13px; font-size:12px; font-weight:normal; color:#317aaf;}
.more:hover { color:#cb6d0a; background:url(../image/indexZJ/icon.gif) 0 -93px no-repeat;}
.moreDate {padding-left:10px; padding-right:10px; cursor:pointer;}
.moreDate:hover {color:#a71414; background:url(../image/indexZJ/arrow-red.gif) -20px -6px no-repeat;}
.moreDateActive {color:#a71414; background:url(../image/indexZJ/arrow-red.gif) -20px -6px no-repeat; padding-left:10px; padding-right:10px; cursor:pointer;}
.moreDateActive:hover {color:#a71414; background:url(../image/indexZJ/arrow-red.gif) -20px -6px no-repeat;}

#index_slogan { margin-bottom:8px;}
.slogan_box {width:667px; height:62px; float:right; margin-bottom:10px; background:url(../image/indexZJ/slogan.jpg) 0 0 no-repeat;}

#index_middle { margin-bottom:8px;}
.monitoring_box { width:666px; float:right; border:1px solid #dbdbdb; margin-bottom:10px;}
.monitoring_box h2 { height:23px; padding:5px 10px 0 10px; font-size:13px; background:url(../image/indexZJ/monitor_tit_bg.gif) 0 0; border-bottom:1px solid #dbdbdb; color:#444; overflow:hidden;}
.monitoring_box_con {height:200px; padding:10px 15px 10px 15px; background:#fbfbfb;}
.monitoring_box_con_left {float:left; width:317px; height:200px; background:url(../image/indexZJ/monitor_analy.jpg) 0 0 no-repeat;}
.monitoring_box_con_left h1 { float:right; font-size:13px; padding-right:15px; padding-top:3px;}
.monitoring_box_con_left ul { padding-top:25px; padding-left:40px;}
.monitoring_box_con_left ul li { line-height:2.3; padding-left:5px; color:#777;}
.monitoring_box_con_right {float:right; width:317px; height:200px; background:url(../image/indexZJ/monitor_coo.jpg) 18px 0 no-repeat; border-left:1px solid #dbdbdb;}
.monitoring_box_con_right h1 { float:right; font-size:13px; padding-top:3px;}
.monitoring_box_con_right ul { padding-top:25px; padding-left:40px;}
.monitoring_box_con_right ul li { line-height:2.3; padding-left:5px; color:#777;}
.monitoring_coo_con ul { padding-top:30px; padding-left:65px;}
.monitoring_coo_con ul li { line-height:2.3; padding-left:5px; color:#777;}
.monitoring_coo { float:right; padding-right:245px;}
.monitoring_analy { float:left; padding-left:8px;}

#index_bottom { margin-bottom:8px;}
.it_news_box {width:667px; height:310px; float:right; margin-bottom:10px; background:url(../image/indexZJ/news_box_bg.jpg) 0 0 no-repeat;}
.it_news_box h2 { height:25px; padding:3px 10px 0 15px;  font-size:13px; color:#444; padding-top:5px;}
.it_news_box h2 span { display:block; height:25px; padding-left:2px;}

.it_news_box_con { padding:10px 20px 10px 20px;}
.it_news_box_con ul { }
.it_news_box_con ul li { line-height:2.3; height:30px; padding-left:18px; border-bottom:1px dashed #dcdcdc; color:#777; background:url(../image/indexImage/style1/index_lable_pending.jpg) 0 10px no-repeat;}
.it_news_box_con_left { float:left; width:430px; height:18px; }
.it_news_box_con_right { float:right; padding-right:10px; text-align:right width:100px; height:18px; }

.index_box { width:327px; float:left; border:1px solid #dbdbdb; margin-bottom:10px;}
.index_box_right { float:right;}
.index_box h2 { height:23px; padding:5px 10px 0 10px; font-size:12px; background:url(../image/indexZJ/box_tit_bg.gif) 0 -1px; border-bottom:1px solid #dbdbdb; color:#444; overflow:hidden;}
.index_box h2 span { display:block; height:25px; background:url(../image/indexZJ/icon.gif) 0 -3px no-repeat; padding-left:16px;}
.index_box_con { height:196px; padding:0px 20px 0 20px; overflow:hidden;}
.index_box_con ul { margin-top:8px;}
.index_box_con ul li { background:url(../image/indexZJ/icon.gif) 0 -298px no-repeat; padding-left:25px; line-height:2.3; border-bottom:1px dotted #a2a3a3;}

#workMonitor{padding:0 0 5px 0;}
#workChart{border:0;height:200px;}
#workGrid{border:0;height:130px;}
#monitorTime{float:right;padding-right:10px;font-size:12px; color:#444;font-family:"Microsoft YaHei";}

.footerWrap{
	text-align:center;
	height:64px;
	background:#c7ddf2;
	color:124873;
	font-family:"Microsoft YaHei";
	font-size:12px;
	padding:5px 0 0 0;
}
