body, img, ul, ol, li {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ul, ol, li {
    list-style: none outside none;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.header_warp {
    /*height: 108px;*/
	height : 88px;
    text-align: center;
    background-image: url(../../resource/image/leadView/main/bg_banner.jpg);
    background-repeat: repeat-x;
}

.logo {
    float: left;
    /*padding-top: 45px;*/
	padding-top:15px;
}

.logo div.filterLogo {
	background-image:url(/resource/image/leadView/main/gansu_logo.png);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src="/resource/image/leadView/main/gansu_logo.png");
	_background:none; 
	display: inline-block;
}

#viewMain {
    margin-top: -4px;
}

.header {
	/*height: 108px;*/
    height: 88px;
    width: 1020px;
    margin: 0 auto;
}
.linkGropWarp{
	padding:0 6px 6px 10px;
}
.linkGropWarp2{
	padding:0px 0px 2px 0px;
}
#linkGrop1 {
    text-align: center;
}

#linkGrop2 {
    text-align: center;
}

#linkGrop3 {
    text-align: center;
}

#linkGrop4 {
    text-align: center;
}

.linkGroup li {
    margin: 2px 0px 0px 3px;
}

.linkTitle {
    color: #FFFFFF;
    font-family: "ו";
    font-size: 14px;
    line-height: 22px;
    /*background: #4A82BD;*/
	background:#0967A9;
}

.linkGroup li a {
    display: block;
    background: #D6DFEF;
    font-family: "ו";
    font-size: 14px;
    line-height: 22px;
}

.linkGroup li a:link {
    text-decoration: none;
}

.linkGroup li a:visited {
    text-decoration: none;
}

.linkGroup li a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: #6A6AFF;
}

.linkGroup li a:active {
    text-decoration: none;
}

.tableDiv {
    width: 98%;
    overflow: auto;
    border: 1px solid #9cf;
    margin: auto;
}

.tableDiv TABLE, .tablediv TABLE {
    width: 100%;
    highlightBackgroundColor: transparent;
    highlightBorderColor: transparent;
    color: windowtext;
    border-collapse: collapse;
    margin: 7px 0 0 0;
}

.tableDiv TABLE THEAD TD, .tablediv TABLE THEAD TD {
    border: 1px solid #CECECE;
    cursor: hand;
    padding-top: 0px;
    padding-bottom: 1px;
    white-space: nowrap;
    text-align: center;
    POSITION: static;
    height: 20px;
}

.tableDiv TABLE THEAD TR, .tablediv TABLE THEAD TR {
    background-color: #EEEEEE;
}

.tableDiv TABLE TBODY TR, .tablediv TABLE TBODY TR {
    color: windowtext;
    background: transparent;
    border: transparent;
}

.tableDiv TABLE TBODY TD, .tablediv TABLE TBODY TD {
    white-space: nowrap;
    padding: 2px;
    margin: 0px;
    border: 1px solid #E9E9E9;
    line-height: 17px;
}

.tableDivPadding {
    width: 100%;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding: 10px 15px 10px 15px;
}

.column_title {
    font-size: 12px;
    color: #023157;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-break: normal;
    white-space: nowrap;
    height: 25px;
    line-height: 16px;
    text-align: center;
    padding: 3px 2px;
    background-color: #D0EBFF;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#D0EBFF);
}
.alarm_column {
	word-break:normal;	
	white-space:nowrap;
	height:25px;
	line-height:16px;
	text-align:left;
	padding:3px 2px;
	background-color:#D0EBFF;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#D0EBFF);
}
.alarm_column span{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.text_center{text-align:center;}
.width_80 {width:80px;}
.width_150 {width:150px;}
.span_red{color:red;}
.span_yellow{color:#FFDC35;}
.span_green{color:green;}

.view_item{
	float:left;
	padding:0 3px 2px 3px;
}

.item_top_left{
	float:left;
	width:174px;
	height:48px;	
}
.item_top_right{
	float:right;
	height:53px;
	padding-right:5px;
	border-top:1px solid #0967A9;
	border-right:1px solid #0967A9;
	background-color:#eef5fd;
}
.item_tag_top{
	height:10px;
	margin-left:8px;
	border-left:1px solid #0967A9;
	border-top:1px solid #0967A9;
	background-color:#eef5fd;
}
.item_tag{
	height:46px;
	width:174px;
	margin-top:-8px;
	padding:7px 0 0 30px;
	background:url(../../resource/image/leadView/main/item_title.png) no-repeat;
}
.item_tag_text{
	font-size: 16px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.quick_link{
	width:65px;
	height:30px;
	line-height:30px;
	float:right;
	margin-right:2px;
	text-align:center;
	background:url(../../resource/image/leadView/main/lab.png) no-repeat;
}
.quick_link a{
	color:#ffffff;
}

.item_content{
	margin-left:8px;
	border-bottom:1px solid #0967A9;
	border-left:1px solid #0967A9;
	border-right:1px solid #0967A9;
}
.x-grid3-hd-row td {
    text-align:center;
}
.blankHref{
	color : #7B7B7B;
}
