.descTable{
	color: #4f6b72;
	border-top: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	background: #CAE8EA no-repeat;
	table-layout:fixed;
}

.descTableHead{
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	background: #CAE8EA no-repeat;
}

.descTableTd{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	font-size:11px;
	padding: 5px;
	text-align: center;
	color: #4f6b72;
}

.addBtn {
    background:url(../image/ico/add2.gif) no-repeat -1px -1px;
    cursor: hand;
    width:20px;
    height:20px;
}
.delBtn {
    background:url(../image/ico/del2.gif) no-repeat -1px -1px;
    cursor: hand;
    width:20px;
    height:20px;
}