/*’⁄’÷≤„øÿ÷∆*/
.maskCss{
	filter:alpha(opacity=30);
	background:#000000;
	width:100%;
	height:100%;
	z-index: 200; 
	display:none;
	position:absolute;
	top:0;
	left:0;
}
.floatDivCss{
	display:none;
	z-index: 200; 
	overflow:hidden;
	background-color:#ffffff;
	/*text-align:center;*/
	position:absolute;
	padding:0px;
	width:560px;
	height:370px;
}
.domainFloatDivCss{
	display:none;
	z-index: 200; 
	overflow:hidden;
	background-color:#ffffff;
	/*text-align:center;*/
	position:absolute;
	padding:0px;
	width:900px;
	height:360px;
}
.floatTitleDiv{
	height:40px;
	background-color:#418BCA;
	cursor:move;
}
.floatTitle{
	float:left;
	padding-left:10px;
	heigth:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}
.floatCloseBut{
	cursor:pointer;
	float:right;
	padding-top:5px;
}
.divConfig {
	width: 500px;
	height: 300px;
	float: left;
	margin: 15px 30px;
}
.divConfigTitle {
	background: #F2F2F2;
	/*line-height: 35px;*/
	height: 35px;
	font-size: 13px;
	cursor:pointer;
}
.divConfigHide {
	background: #F2F2F2;
	height: 35px;
}
.divConfigShow {
	height: 228px;
	border: 1px solid #AEAEAE;
	border-radius: 4px;
}
.divConfigTitleSpan_1{
	float: left;
	padding-left: 10px;
	line-height: 35px;
	font-weight: bold;
	height: 35px;
}
.divConfigTitleSpan_2{
	float: right;
	line-height: 35px;
	font-size: 12px;
	height: 35px;
	color: #f00;
}
.divConfigTitleSpan_3{
	float: left;
	padding-left: 30px;
	line-height: 35px;
	font-size: 12px;
	height: 35px;
	color: #99A1A3;
}
.divConfigTitleSpan_4{
	float:left;
	margin-top:20px;
	height:30px;
	width:70px;
	line-height:30px;
	text-align: center;
	font-size:13px;
}
.imgArrow{
	float: right;
	margin: 11px 10px 0 0;
	cursor:pointer;
}
.divImg_1{
	float: left;
	width:30px;
	height:30px;
	margin: 2px 0 3px 15px;
	background:url(../image/indexZJ/up_pass_01.png) no-repeat;
}
.divImg_2{
	float: left;
	width:30px;
	height:30px;
	margin: 2px 0 3px 15px;
	background:url(../image/indexZJ/up_pass_02.png) no-repeat;
}
.divImg_3{
	float: left;
	width:70px;
	height:70px;
	background:url(../image/indexZJ/up_pass_10.png) no-repeat;
}
.divImg_4{
	float: left;
	width:70px;
	height:70px;
	background:url(../image/indexZJ/up_pass_09.png) no-repeat;
}
.divImg_5{
	float: left;
	width:35px;
	height:35px;
	background:url(../image/indexZJ/up_pass_03.png) no-repeat;
}
.divConfigContent {
	height: 300px;
}
.divPasswordContent_1 {
	float:left;
	width:70px;
	height:120px;
	margin: 36px 0 0 90px;
	cursor:pointer;
}
.divOldPassContent{
	margin: 15px 0 0 100px;
	line-height: 25px;
	width: 300px;
	height: 25px;
	font-size: 13px;
	/*text-align:center;*/
}
.divOldPassContent_2{
	margin: 20px 0 0 175px;
	width: 150px;
	height: 27px;
	/*text-align:center;*/
}
.divOldPassContent_3{
	margin: 20px 0 0 175px;
	width: 130px;
	height: 27px;
}
.divOldPassContentSpan{
	float:left;
	width:75px;
	line-height: 25px;
	height: 25px;
}
.divOldPassContentSpan_2{
	float:left;
	width:120px;
	line-height: 25px;
	height: 25px;
}
.divOldPassSuccess{
	margin: 65px 0 0 110px;
	width: 280px;
	height: 35px;
}
.divOldPassSuccessSpan{
	float: left;
	padding-left: 15px;
	font-size: 16px;
	line-height: 35px;
	height: 35px;
	width: 230px;
}
.divPhonePasswordContent_1{
	margin: 20px 0 0 25px;
	width: 450px;
	height: 30px;
}
.divPhonePasswordSpan_1{
	float: left;
	font-size: 13px;
	line-height: 35px;
	text-align:center;
	height: 35px;
	width: 390px;
}
.divPhonePasswordSpan_2{
	float: left;
	font-size: 13px;
	line-height: 35px;
	text-align:center;
	height: 35px;
	width: 60px;
	color: #418BCA;
	cursor:pointer;
}
.divPhonePasswordSpan_3{
	float:left;
	width:10px;
	color:#f00;
	text-align:center;
	line-height: 25px;
	height: 25px;
}
.divPhonePasswordSpan_3{
	float:left;
	width:10px;
	color:#f00;
	text-align:center;
	line-height: 25px;
	height: 25px;
}
.divPhonePasswordSpan_4{
	float:left;
	width:55px;
	text-align:center;
	line-height: 25px;
	height: 25px;
}
.divPhonePasswordSpan_5{
	float:right;
	width:80px;
	color:#f00;
	text-align:center;
	line-height: 25px;
	height: 25px;
	font-size: 12px;
}
.divPhonePasswordSpan_3{
	float:left;
	width:10px;
	color:#f00;
	text-align:center;
	line-height: 25px;
	height: 25px;
}
.divBindPhoneContent{
	margin: 15px 0 0 90px;
	line-height: 25px;
	width: 320px;
	height: 25px;
	font-size: 13px;
}
.divBindPhoneContent_2{
	float: left;
	width: 240px;
}
.divBindPhoneSuccess{
	margin: 65px 0 0 70px;
	width: 340px;
	height: 35px;
}
.divConfigSave{
	float:left;
	heigth:27px;
	width:54px;
	font-size: 13px;
	line-height:27px;
	text-align:center;
	color:#ffffff;
	background:url(../image/indexZJ/button_01.png) no-repeat;
	cursor:pointer;
}
.divConfigCancel{
	float:right;
	heigth:27px;
	width:54px;
	font-size: 13px;
	line-height:27px;
	text-align:center;
	color:#ffffff;
	background:url(../image/indexZJ/button_01.png) no-repeat;
	cursor:pointer;
}
.divConfigButtom{
	float:left;
	heigth:27px;
	width:123px;
	font-size: 13px;
	line-height:27px;
	text-align:center;
	color:#000000;
	background:url(../image/indexZJ/button_03.png) no-repeat;
	cursor:pointer;
}
.divConfigButtom_2{
	float:left;
	heigth:25px;
	width:74px;
	font-size: 13px;
	line-height:25px;
	text-align:center;
	color:#ffffff;
	background:url(../image/indexZJ/button_02.png) no-repeat;
	cursor:pointer;
}