.popupDIV {
	BORDER: 1px solid #5391CC;
	Z-INDEX: 99;
	BACKGROUND-COLOR: #EEF7FF;
	CURSOR: default;
}

.icoTD	{
	BACKGROUND-IMAGE: url(../../image/jtitsmImages/icobg.gif);
}

.cellDiv	 {
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	FONT-FAMILY: ו;
	FONT-STYLE: normal;
	TEXT-DECORATION: none;
	MARGIN: 1px 0px 1px 0px;
	WIDTH: 100%;
}

.arrDiv	 {
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	FONT-FAMILY: webdings;
	FONT-STYLE: normal;
	TEXT-DECORATION: none;
	MARGIN: 1px 1px 1px 0px;
	WIDTH: 100%;
	TEXT-ALIGN:center;
}

.icoDiv	{
	WIDTH: 100%;
	MARGIN: 1px 0px 1px 1px;
}

.line {
	BORDER: 1px solid #A4CDFF;
}

.popupmenu-cell-background,.popupmenu-arr-background,.popupmenu-ico-background {
	background: #89A6FF !important;
}