.comp-tool-bar
{
	padding:0 10 0 10 !important;
	height:45px !important;
	border-bottom:2px solid #198DBC !important;
	background-color:#D5EAFC !important;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#A9E1FA, endcolorstr=#DFF8FF) !important;
}

.comp-tool-bar-prefix
{
	font-size:20px;
	display:none !important;
}

.comp-tool-bar-item
{
	font-size:20px;
	line-height:43px !important;
	margin-right:6px !important;
}

.comp-tool-bar-text
{
	font-size:20px;
	padding-top:0px !important;
	font-size:14px !important;
	font-weight:bold !important;
	color:#0170C9 !important;
}

.comp-tool-bar-ico
{
	font-size:20px;
	padding-top:13px !important;
}

.comp-tool-bar-itm-bg
{
	height:39px !important;
}

.comp-tool-bar-itm-tag
{
	top:11px !important;
}