.x-grid-back-low{

        background:#FFFFFF;

}

.x-grid-back-red{

        background:#FFFFFF;

}

.x-grid-back-red2{

        background:#FF00FF;

}
.x-grid-back-red3{
        background:#FFFF00;
}