body {
    font-size: 10pt;
    background: url('') 175px 0px repeat-y;
    overflow-x:hidden;
}

 .body_verline {
    width: 100%;
    margin: 0;
    float: left;
    padding-top: 6px;
    background: url('../../../resource/image/hqTimeliner/body_line.png') 165px 0px repeat-y;
}

.body_verline div {
    margin: 0;
    float: left;
}

.body_verline .coll_1 {

    width: 160px;
    height: 30px;
    margin: 0;
    float: left;
    /*border: 1px solid darkred;*/
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}

.body_verline .coll_head {
    width: 10px;
    height: 10px;
    margin: 0;
    float: left;
    background: url("../../../resource/image/hqTimeliner/welo.png") center center no-repeat;
}

.body_verline .coll_foot {
    width: 10px;
    height: 10px;
    margin-top: 35px;
    float: left;
    background: url("../../../resource/image/hqTimeliner/welo.png") center bottom no-repeat;
    /*border: 1px solid #ff0000;*/
}

.body_verline .coll_label {
    width: 18px;
    height: 12px;
    margin-left: 3px;
    float: left;
    background: url("../../../resource/image/hqTimeliner/line_label.png") center center no-repeat;
}

.body_verline .coll_2 {
    /*border: 1px solid darkred;*/
    width: 10px;
    height: 30px;
    margin: 0;
    float: left;
    background: url("../../../resource/image/hqTimeliner/neil.png") center center no-repeat;
}

.body_verline .coll_3 {
    /*border: 1px solid darkred;*/
    width: 30px;
    height: 30px;
    margin: 0;
    float: left;
    background: url("../../../resource/image/hqTimeliner/line.png") center center no-repeat;
}

.banner {
    /*border: 1px solid blue;*/
    background: url('../../../resource/image/hqTimeliner/bander.png') no-repeat;
    width: 372px;
    height: 39px;

}

.bander_limit {
    background: url('../../../resource/image/hqTimeliner/bander_limit.png') no-repeat;
    width: 372px;
    height: 39px;
    margin-top: 5px;
}

.province_label {
    background: url('../../../resource/image/hqTimeliner/province.png') no-repeat;
    background-position: bottom;
    width: 56px;
    height: 25px;
    font-weight: bold;
    font-size: 10pt;
    /*border: 1px solid blue;*/
}

.province_label .prek {
    text-align: center;
    clear: both;
    width: 56px;
    padding-top: 5px
}

.province_label_2 {
    background: url('../../../resource/image/hqTimeliner/province2.png') no-repeat;
    background-position: bottom;

    width: 56px;
    height: 40px;
    font-weight: bold;
    font-size: 10pt;
    /*border: 1px solid blue;*/
}

.province_label_2 .prek {
    text-align: center;
    clear: both;
    width: 56px;
    padding-top: 15px
}

.province_label_3 {
    background: url('../../../resource/image/hqTimeliner/province2.png') no-repeat;
    background-position: bottom;
    width: 56px;
    height: 40px;
    font-weight: bold;
    font-size: 10pt;
    /*border: 1px solid blue;*/
}

.province_label_3 .prek {
    text-align: center;
    clear: both;
    width: 56px;
    padding-top: 15px
}

.remote_label {
    cursor: hand;
    background: url('../../../resource/image/hqTimeliner/remote_ff.png') no-repeat;
    width: 127px;
    height: 27px;
    text-align: center;
    font-size: 10pt;
    /*border:1px solid blue;*/
    padding-bottom: 10px;
}

.remote_up {
    cursor: hand;
    margin-left: 5px;
    background: url('../../../resource/image/hqTimeliner/slivep.png') no-repeat;
    width: 25px;
    height: 25px;
    margin-top:0;
    /*border:1px solid blue*/
}

.rr_opinion_detail {
    background: url('../../../resource/image/hqTimeliner/rr_opinion_detail.png') no-repeat;
    /*width: 720px;*/
    height: 160px;
    width:720px;
    text-align: center;
    font-size: 10pt;
}

.rr_opinion_detail ul {
    list-style: none;
    width: 100%;
    padding-left: 25px;
    padding-top: 3px;
}

.rr_opinion_detail ul li {
    float: left;
    text-align: left;
    margin-top: 5px;
    /*border:1px solid green;*/
}

.rr_opinion {
    float: left;
    background: url('../../../resource/image/hqTimeliner/rr_opinion.png') no-repeat;
    /*width: 720px;*/
    height: 40px;
    text-align: center;
    font-size: 10pt;
}

.rr_opinion ul {
    list-style: none;
    width: 100%;
    padding-left: 15px;
}

.rr_opinion ul li {
    float: left;
    text-align: left;
}

.rr_option_div {
    margin: 0 10px 5px 0px;
    padding-left: 0;
    padding-top:10px;
    width: 533px;
    /*border: 1px solid green;*/
}

.replay_option_detail {
    background: url('../../../resource/image/hqTimeliner/rr_reply_detail.png') no-repeat;
    width: 720px;
    height: 120px;
    text-align: center;

    font-size: 10pt;
}

.replay_option_detail ul {
    list-style: none;
    width: 100%;
    margin: 10px 0 0px 15px;
    /*border:1px solid #ff0000;*/
}

.replay_option_detail ul li {
    float: left;
    text-align: left;
    margin-bottom: 0;
}

.replay_option {
    float: left;
    background: url('../../../resource/image/hqTimeliner/rr_reply.png') no-repeat;
    width: 720px;
    height: 40px;
    text-align: center;
    font-size: 10pt;
}

.replay_option_div {
    margin: 15px 10px 5px 0px;
    padding-left: 0;
    width: 533px;
}

.replay_option_div > div {
    margin-left: 0px;
    text-align: left;
    padding-left: 15px;
    padding-top: 13px;
    /*border: 1px solid #f27b99;*/
}

.stuff_font {
    color: #F9C700;
    font-family: YouYuan;
    font-weight: bold;
    font-size: 18pt;
    cursor: hand;
}

.foot_end {
    color: #999999;
    padding-top: 25px;
    font-family: YouYuan;
    font-weight: bold;
    font-size: 18pt;
}

.date_font {
    padding-bottom: 10px;
    color: #25ABF2;
    font-family: YouYuan;
    font-size: 11pt
}

.stat_label {
    color: #999999;
    font-size: 11pt;
    padding: 0 0 10px 15px;
    width: 720px;
}

.kelsd {
    margin-top: 6px;
    color: #6C6C6C;
    text-align: center;
    cursor:hand;
}

.wueld {
    cursor: hand;

    background: url('../../../resource/image/hqTimeliner/slivep.png') no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    /*border: 1px solid #ff0084;*/
}

.date_smart {
    font-weight: bold;
    float: right;
    width: 100%;
    padding: 0;
    text-align: right
}

.single_datetime {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 15px;
}

.datetime_with_date {
    float: right;
    width: 100%;
    text-align: right;
}
.showpoint{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis; /* Opera */
    text-overflow: ellipsis; /* IE, Safari (WebKit) */
}
.itm{
    font-weight:bold;font-size:10pt;padding-right:7px;
}
/*ÓÒ²à¸¡¶¯µ¼º½*/
.float-menu { bottom: 200px; left: 50%; margin-left: 464px; width:58px; position: fixed; text-align: left; z-index:1;display:block; _position: absolute;
    _top: expression(eval(document.body.scrollTop+document.body.clientHeight)-370);/*¾àµ×²¿200px*/

}
.change-nav { background: url("../../../resource/image/hqTimeliner/icons-sprites.png") no-repeat scroll 0 -70px transparent; display: block; height: 21px; overflow: hidden; text-indent: -99em; width: 58px; }
.list-nav { height:20px; margin:0;padding:0 ;}
.list-nav-item { color: #4D8CD0;font-size: 10pt; height: 21px; line-height: 21px; text-align: center; width: 56px; margin:0;padding:0 ;list-style: none }
.list-nav a:hover { background:#303030; color:#fff; line-height: 21px; text-decoration:none; }
.btn-to-top { background: url("../../../resource/image/hqTimeliner/icons-sprites.png") no-repeat scroll -155px -70px transparent; display: block; height: 34px; overflow: hidden; text-indent: -99em; width: 58px; }
a.btn-to-top:hover { background: url("../../../resource/image/hqTimeliner/icons-sprites.png") no-repeat scroll -235px -70px transparent; }
a.change-nav:hover { background: url("../../../resource/image/hqTimeliner/icons-sprites.png") no-repeat scroll -80px -70px transparent; }


.ifdiv {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    width: 600px;
    height: 190px;
    left: 300px;
    top: 50px;
    position:absolute;
    _top: expression(eval(document.body.scrollTop+document.body.clientHeight)-430);/*¾àµ×²¿430px*/
}


